/* director-dialog.component.scss */

.director-container {
    width: 400px;
  }
  
  .director-header {
    justify-content: space-between;
    background-color: #2196f3; /* Blue color */
  }
  
  .director-title {
    color: white;
    margin: 0;
  }
  
  .director-content {
    padding: 20px;
  }
  