/* User Login Form Component Styles */

.user-login-card {
  max-width: 400px; /* Limit card width */
  margin: 0 auto; /* Center align the card */
  animation: sparkle 1s linear infinite alternate, pulse;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

mat-form-field {
  width: 100%; /* Set form field width to 100% */
  margin-bottom: 20px; /* Add some spacing between form fields */
}

.mat-card-actions {
  justify-content: center; /* Center align card actions */
}

mat-raised-button {
  width: 100%; /* Make button fill the width of the card */
}