/* synopsis-dialog.component.scss */

h1 {
    color: #f44336; /* Red color */
  }
  
  .synopsis-content {
    padding: 20px;
  }
  
  .synopsis-dialog-actions {
    display: flex;
    justify-content: flex-end;
    padding: 20px;
  }